
$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99E2D0;
$color-background: #F5F5F5;
$color-lightblack:#2F2F2F;

.loading01 {
    height: 100vh;
    width: 100vw;
    text-align: center;
    margin-top: 50vh;
    span {
        font-family: 'Shrikhand';
        margin-top: 50vh;      
        font-size: 60px;
        background-image: linear-gradient(($color-secondaire), $color-primaire);
        background-clip: text;
        color: transparent;
        animation: loading01 1.4s ;
      @for $i from 0 through 7 {
        &:nth-child(#{$i+1}) {
          animation-delay: #{$i*.1}s;
        }
      }
    }
  }
  @keyframes loading01 {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .loading01 {
    -moz-animation: cssAnimation 0s ease-in 2.6s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2.6s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2.6s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2.6s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        margin: 0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
        margin: 0;
    }
}
  