@import "../Projet-3-OPC/SCSS/Utils/variables";


// Reset margin et padding
*{
    margin: 0;
    padding: 0;
}


// Definition elements HTML
html{
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    scrollbar-width: none;
}


// Paramétrage du header
.logoblack{
    margin: auto;
    transform: scale(0.6);
}

.headeraccueil{
    text-align: center;
}

// Style pour la position geographique
.position{
    text-align: center;
    background-color: $color-background;
    padding: 20px 0 20px 0;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.21);
}

// Haut de page accueil avec bouton de recherche
.explore{
    text-align: center;
    background-color: $color-background;
    padding-top: 30px;
    padding-bottom: 50px;

    h1{
        font-weight: 700;
        width: 60vw;
        margin: auto;
        padding-bottom: 20px;
        font-family: 'Roboto';
    }
    h2{
        font-weight: 300;
        font-family: 'Roboto';
        font-size: medium;
        width: 80vw;
        margin: auto;
        padding-bottom: 20px;
    }
}
//bouton de recherche
.search{
    height: 50px;
    width: 50vw;
    border-radius: 25px;
    border: 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: large;
    color: white;
    background: linear-gradient(($color-secondaire), $color-primaire);
}
//Effet survol bouton de recherche
.search:hover{
    box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.26);
    border-radius: 25px;
}

//Définition format des 2 section (Fonctionnement et Restaurant)
section{
    background-color: $color-background;
    padding-top: 30px;
    padding-bottom: 50px;
}
// Fond blanc sur premeiere section pour suivre maquette
section:nth-child(1){
    background-color: white;
}

// Défintiion des titres
.titre{
    margin-left: 20px;
    font-family: 'Roboto';
    margin-bottom: 20px;

}

// Gestion du process de commande
.flux{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    margin: 30px 0 0 0;
    gap: 20px;
    font-family: 'Roboto';
    :hover{
        background-color:#f5edff;
        i{
            color: $color-primaire;
        }
    }
}

.flux__etape{
    background-color: $color-background;
    height: 40px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.26);
    padding-top: 25px;
    font-size: larger;
    position: relative;
    .numero{
        color: white;
        width: 30px;
        height: 30px;
        background-color: $color-primaire;
        border-radius: 15px;
        text-align: center;
        position: absolute;
        top: 50%;
        transform:translateY(-50%);
        left: -15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    i{
        color: grey;
        position: absolute;
        left: 10vw;
    }
}

// Gestion de la liste des restaurants
.liste{
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
// Création d'une class pour opacity hover sur plusieurs éléments

.survol{
    list-style-type: none;
    &:hover{
            opacity: 0.8;
}
}

.listeplat .survol:hover{
    box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.26);
    border-radius: 10px;
}
//Définition card d'un restaurant
.card{
    width: 90vw;
    max-height: 400px;
    margin: auto;
    list-style: none;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.49);
}
.card a{
    text-decoration: none;
    color: #2F2F2F;
}
    
.card .survol:hover{
    box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.26);
    border-radius: 15px;
}

.card img{
    height: 250px;
    width: 90vw;
    object-fit: cover; 
    border-radius: 15px 15px 0 0;
    display: block;
}
// Définition de l'élement Nouveau pour certaine card
.new{
    position:absolute;
    color: green;
    right:6vw;
    background-color: $color-tertiaire;
    z-index: auto;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
}

.descriptioncard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
}
.descriptioncard i{
    font-size: x-large;
}

.nomrestaurant{
    h2{
        font-size: large;
    }
    h3{
        font-size: small;
        font-weight: 300;
    }
}

//Gestion du favori avec animation + Translation + overflow hidden
.fav{
    display: block;
    width:40px;
    padding-left: 5px;
    padding-top: 5px;
    height:30px;
    overflow: hidden;
  }


.bold{
    font-weight: bold;
    margin-bottom: 5px;
}
// Gestion du footer
footer{
    background-color: $color-lightblack;
    color: white;
    height: 250px;
}


.pied{
    margin-left: 20px;
    list-style: none;
    text-align: left;
    margin-bottom: 30px;
}

.logowhite{
    filter: invert(100%);
    transform-origin: 0 100%;
    transform: scale(0.4);
}

.elementfooter{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    width: 100vw;
    margin-bottom: 15px;
}
.elementfooter a{
    text-decoration: none;
    color: white;
}