@import "../Utils/variables";


.coeuranim{
    color: black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover{
        background: linear-gradient(($color-secondaire), $color-primaire);
        color:$color-primaire;
        font-weight: 600;
        transform: scale(1.1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}